rules_version = '2'

service cloud.firestore {
  match /databases/{database}/documents {

    function torneoPublico(torneoId) {
      let t = get(/databases/$(database)/documents/torneos/$(torneoId)).data;
      return t.estado == 'activo' || t.estado == 'proximo';
    }

    match /organizaciones/{id} {
      allow read, write: if false;
    }

    match /torneos/{torneoId} {
      allow read: if resource.data.estado == 'activo' || resource.data.estado == 'proximo';
      allow write: if false;

      match /divisiones/{divisionId} {
        allow read: if torneoPublico(torneoId);
        allow write: if false;
      }
    }
  }
}
